<div id="<%= dom_id topic %>">
  <p>
    <strong>主题:</strong>
    <%= topic.title %>
  </p>

  <p>
    Posted <%= time_tag topic.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong> <%= topic.comments.count %> 个评论 </strong>
  </p>

  <p>
    <strong>内容:</strong>
    <%= topic.description %>
  </p>

</div>
