<p style="color: green"><%= notice %></p>

<%= render @topic %>
<%= render "topics/comments", topic: @topic %>

<div>
  <%= link_to "编辑主题", edit_topic_path(@topic) %> |
  <%= link_to "返回", topics_path %>

  <%= button_to "删除主题", @topic, method: :delete %>
</div>
